# PHP
vendor/
composer.lock
phpunit.xml.dist
phpunit.xml
# PHPStorm
.idea/
# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# Miscellaneous
*.log
.DS_Store

